html{
    background: #4b4b4b
}
    
body {
   font-family:monospace;
   margin: 70px;
   padding: 50px;
   color: #242424;
   background: rgb(0, 0, 0);
   font-size: x-large;
}

header{
    color:black;
    background: rgb(5, 158, 5);
    position: sticky;
    top: 0;
}


article{
    padding: 20px;
    margin: 20px;
}

img{
    width: 100%;
    float: left;
    margin-top: auto;
}

section{
    background:#ccc;
    display: flex;
}

h1 {
    font-size: 4em;
    font-family:fantasy;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.wrapper {
    display:flex;
}

p {
    line-height: 1.4em;
}

a[href] {
    color: black
}

@media (max-width: 600px) {
    
    .wrap{
        max-width: 100%;
    }

    header{ 
        background: rgb(119, 22, 22);
        color:white;
        position:fixed;
    }

    a[href] {
        color:white;
    }
}